*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


* {
    --ff-manrope: "Manrope", Arial, sans-serif;

    --fs-body: 16px;
    --fs-h1: 30px;
    --fs-h3: 26px;
}

body {
    font-family: var(--ff-manrope);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
}

.dashboard {
    width: 100%;
    max-width: 360px;
}

.title-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title-bar > button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: transparent;
}

img.filter {
    width: 100%;
}

h1 {
    margin: 20px 0;
}

.priority-icon {
    width: 30px;
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 10px;
}

.tasks-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.task-card {
    display: flex;
    flex-direction: column;
    background-color: hotpink;
    padding: 15px;
    border-radius: 10px;
    gap: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.top-div {
    display: grid;
    grid-template-columns: 1fr auto;
    min-height: 30px;
    align-items: center;
}

div.task-due {
    background-color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#newProjectForm {
    display: flex;
    width: 400px;
    margin: 5px;
}

#newTaskForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 50px;
}

.form-row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin: 5px;
}

#taskTitle {
    font-size: 30px;
}

label:not([for="taskDueDate"]):not([for="taskPriority"]):not(.checkbox) {
    display: none;
}

label {
    padding-left: 2px;
    color: grey;
}

textarea {
    flex: 1;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

input[type="text"], 
textarea {
    display: flex;
    flex-basis: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

#itemInput {
    text-align: left;
}

div.submit-buttons {
    display: flex;
    flex-wrap: wrap;
}

div.submit-buttons > button {
    display: flex;
    flex: 1;
    text-transform: uppercase;
    justify-content: center;
    padding: 10px;
    margin: 3px;
    max-width: 50%;
}

div.submit-project {
    flex-direction: column;
}

div.vertical-container {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

div.vertical-container > .form-row {
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
}

input[type="checkbox"] {
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

li { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2px;
}

button.checklist-delete,
#newProjectBtn,
#addBtn {
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 200;
}

.disabled {
    display: none;
}